# Normalize line endings for all files that Git considers text files.
* text=auto eol=lf

# Only include the addons folder when downloading from the Asset Library.
/**             export-ignore
/addons         !export-ignore
/addons/**      !export-ignore
/README.md      !export-ignore
/README.md      export-subst=/addons/aws-amplify/README.md
/LICENSE.md     !export-ignore
/LICENSE.md     export-subst=/addons/aws-amplify/LICENSE.md